    <div class="title-index">

        <h1>Notes-app <i class="far fa-sticky-note"></i></h1>
    </div>
<div class="container-index">
    <p  >Crea recordatorios en forma de notas de una manera rapida y sencilla para lo que quieras, solo debes <a href="/users/register">Registrate</a> para empezar</p>
    <img src="/assets/checklist_.svg" alt="">
    
</div>

