{{#each errors}}
    <div class="error-msg ">
        {{message}}<i class="fas fa-times e"></i>
    </div>
{{/each}}
{{#if error}}
    <div class="error-msg ">
        {{error}}<i class="fas fa-times e"></i>
    </div>
{{/if}}

