<footer class="footer">
<address>
    Creado por: Jean Jara 
</address>
{{#if user}}
<div class="footer-icons">
    <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesion</a></li>
</div>
{{else}}
<div class="footer-icons">
    <li><a href="/users/signin"><i class="fas fa-user"></i> Acceder</a></li>
    <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
</div>
{{/if}}
    
</footer>