
<div class="panel-menu" id="panel-menu">
    <div class="sign-in-up">
        <a href="/users/signin"><i class="far fa-user"></i> Acceder</i></a>
    </div>
    <nav class="nav-menu" class="is-active">
        <a href="#">seccion 1</a>
        <a href="#">seccion 2</a>
        <a href="#">seccion 3</a>
        <a href="#">seccion 4</a>
        <a href="#">seccion 5</a>
        <a href="#">seccion 6</a>
    </nav>
</div>

<div class="hamburger-header">
<button class="hamburger-menu" id="hamburger-menu"> <i class="fas fa-bars"></i></button>
</div>