{{#if success_msg}}
    <div class="success-msg">
        {{success_msg}}<i class="fas fa-times s"></i>
    </div>
{{/if}}
{{#if success}}
    <div class="success-msg">
        {{success}}<i class="fas fa-times s"></i>
    </div>
{{/if}}