<div class="container-notes">
    <h3>Notas <i class="fas fa-clipboard"></i></h3>
    {{#each notes}}
    <div></div>
    <div class="note">
        <div class="title">
            <div class="title-h4">
            <h4>{{title}} </h4>
            </div>
            <div class="note-icons">
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" method="POST" class="trash">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    <a href="/notes/edit/{{_id}}" class="pencil"><i class="fas fa-pencil-alt "></i></a>
                </form>
            </div>
        </div>
    <div class="description">
        <p>{{description}}</p>
    </div>
    </div>
    {{/each}}
</div>