<div class="container-form">
    <h3> Crear nota <i class="fas fa-book-open"></i></h3>
    <form action="/notes/create" method="POST" class="form-note">
        <input type="text" name="title" required autofocus autocomplete="off"   placeholder="Titulo" class="input-note-t" value="{{title}}">
        <textarea name="description" placeholder="Descripcion" class="input-note-d" required >{{description}}</textarea >
        <input type="submit" value="Crear" class="input-sumbit-note">
    </form>
</div>