<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- Fuente --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
<link rel="icon" href="/assets/logo.png">
    <title>Node-app-notes</title>
</head>
<body>
    {{>navigation}}
    {{>errors}}
    {{>success}}
    {{{body}}}
    


    <script src="/scripts/hamburger.js"></script>
    <script src="/scripts/errors.js"></script>

    <script src="https://kit.fontawesome.com/f07638ec92.js" crossorigin="anonymous"></script>
</body>
</html>