<div class="container-login-register">

<form action="/users/signin" method="POST" class="form-login-register">
    <h3>Inicia sesion</h3>
    <input type="email" name="email" placeholder="Email" required autofocus class="datos" value="{{email}}">
    <input type="password" name="password" placeholder="Password" required class="datos">
    <input type="submit" value="Continuar" class="submit-login-register" value="{{password}}">
</form>

<h4 class="enlace-login-register">No tienes cuenta ?? <a href="/users/register">Registrate</a></h4>
</div>